@import "tailwindcss";

:root {
  --background: #101828;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit, sans-serif;
}

.cardBg {
  background-color: #1d2939;
  border-color: #1d2939;
}
.bg-error {
  background-color: color-mix(in oklab, #f04438 15%, transparent);
}
.text-error {
  color: #f04438;
}
.bg-warning {
  background-color: color-mix(in oklab, #f79009 15%, transparent);
}
.text-success {
  color: #12b76a;
}
.text-warning {
  color: #fd853a;
}

.text-blue {
  color: #38bdf8;
}
